<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Main game loop window</title>
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./main-game-loop.css" />
  </head>
  <body>
    <div class="parent">
      <div class="div1">SCORE</div>
      <div class="div2">STAGE STATS</div>
      <div class="div3">SETTINGS</div>
      <div class="div4">MAIN GAME WINDOW</div>
      <div class="div5">TAILS / FLIP / HEADS</div>
    </div>
  </body>
</html>
